{% import "fork_clone._uml.j2" as diagram %}


@startuml fork-clone-1-github
{{
    diagram.build(
        theme="plain",
        hide_dev_environment=True,
        hide_origin=True
    )
}}
@enduml


@startuml fork-clone-2-fork
{{
    diagram.build(
        hide_dev_environment=True
    )
}}
@enduml


@startuml fork-clone-3-devenv
{{
    diagram.build(
        hide_local=True
    )
}}
@enduml


@startuml fork-clone-4-clone
{{
    diagram.build()
}}
@enduml


@startuml fork-clone-5-ready
{{
    diagram.build(
        hide_fork_operation=true,
        hide_clone_operation=true
    )
}}
@enduml
